<section class="about" id="about-us">
    <div class="container about-div-all">
        <h2 class="about-title">About<span class="about-title-span"> Us</span></h2>
        <div class="about-div">
            <div class="about-div-image">
            <picture class="about-images">
                <source srcset="/img/about/camera_img_1x.png 1x, /img/about/camera_img_2x.png 2x"
                media="(min-width: 1440px)">
                <source srcset="/img/about/camera_img_lap_1x.png 1x, /img/about/camera_img_lap_2x.png 2x"
                media="(min-width: 1280px)">
                <source srcset="/img/about/camera_img_tab_1x.png 1x, /img/about/camera_img_tab_2x.png 2x"
                media="(min-width: 768px)">
                <img class="about-image" srcset="/img/about/camera_img_mob_1x.png 1x, /img/about/camera_img_mob_2x.png 2x" src="/img/about/camera_img_mob_1x.png" alt="Photo camera">
            </picture>
            </div>
            <div class="about-text">
                <p class="about-text-one">Our photography school is designed to teach you everything you need to know
                    about this magical art.
                    Regardless of your experience or skill level, we offer a wide range of courses to suit your needs
                    and interests. Our teaching team consists of experienced photographers who have many years of
                    experience in this field. They strive not only to share their knowledge, but also to inspire you to
                    develop and express your unique creativity.</p>
                <p class="about-text-two">Our courses cover a wide range of topics, from the basics of photography
                    and equipment use to professional image processing and creating impressive compositions. You will
                    have the opportunity to learn the technical aspects of photography,
                    discover your own style and develop your own visual language.</p>
            </div>
        </div>
    </div>

</section>