<footer class="footer" id="contacts">
  <div class="container footer-container">
    <div class="footer-main-content">
      <div class="footer-contacts-container">
        <a href="https://serj-new.github.io/WebWizards_99/" class="footer-logo" aria-label="Go to the main page of the photography school Focus Frame">
          <svg class="footer-logo-icon" width="127" height="20">
            <use href="/img/sprite.svg#logo-icon"></use>
          </svg>
        </a>
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <a href="tel:+380665438912" class="footer-contacts-link" aria-label="Give us a call">UK: +38 066 543 8912</a>
          </li>
          <li class="footer-contacts-item">
            <a class="footer-contacts-text" href="https://maps.app.goo.gl/CLsnGbeUst7rNxmh7" target="blank" aria-label="Here we are located">Ukraine, Kyiv</a>
          </li>
        </ul>
      </div>

      <div class="footer-links-container">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              class="footer-social-link"
              target="_blank"
              aria-label="Our Instagram account"
              >Instagram</a
            >
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.facebook.com/goITclub/"
              class="footer-social-link"
              target="_blank"
              aria-label="Our Facebook account"
              >Facebook</a
            >
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-social-link"
              target="_blank"
              aria-label="Our Youtube account"
              >Youtube</a
            >
          </li>
        </ul>

        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a href="#about-us" class="footer-menu-link" aria-label="Read more about us">About us</a>
          </li>
          <li class="footer-menu-item">
            <a href="#courses" class="footer-menu-link" aria-label="Read more about our sourses">Our courses</a>
          </li>
          <li class="footer-menu-item">
            <a href="#mentors" class="footer-menu-link" aria-label="Read more about our mentors">Our mentors</a>
          </li>
          <li class="footer-menu-item">
            <a href="#reviews" class="footer-menu-link" aria-label="Read more about reviews of our school">Reviews</a>
          </li>
          <li class="footer-menu-item">
            <a href="#contacts" class="footer-menu-link" aria-label="Here are our contact details">Contacts</a>
          </li>
        </ul>
      </div>

      <form class="footer-subscribe-form">
        <label for="subscriber-email" class="footer-subscribe-label">
          <input
            type="email"
            class="footer-subscribe-email-input"
            name="subscriber-email"
            id="subscriber-email"
            placeholder="Enter your email"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          />
        </label>
        <button class="footer-subscribe-btn" type="submit">Go</button>
      </form>
    </div>
    <div class="footer-policy-rights-container">
      <div class="policy-agreement-wrap">
        <a href="#" class="footer-policy-link" target="_blank" aria-label="Read our Privacy Policy">Privacy Policy</a>
        <a href="#" class="footer-policy-link" target="_blank" aria-label="Read our Public Offering Agreement">Public Offering Agreement</a>
      </div>
      <p class="footer-rights">
        2023 Focus Frame<br />&#169; All rights reserved
      </p>
    </div>
  </div>
</footer>
