<section class="sign-up" id="sign-up">
    <div class="container">
        <h2 class="sign-up-title">Sign <span class='sign-up-title-part'>Up</span></h2>
        <p class="sign-up-desc">Please use the form below to contact us. Enter your name, email, and message and
            we'll get back to you shortly.</p>
        <form action="POST" class="sign-up-form">
            <input type="text" name="name" placeholder="Enter your name" class="sign-form-input">
            <input type="email" name="email" placeholder="Enter your email" class="sign-form-input">
            <textarea class="sign-form-input sign-up-textarea" placeholder="Message"></textarea>
            <button class="sign-up-btn" type="submit">Send</button>
            <p class="policies">By clicking on "Send" button, you agree to our <a href="#" class="policies-link">Privacy
                    Policy</a>,
                and allow Promodo to use this information for marketing purposes.</p>
        </form>
    </div>
</section>