<section class="sign-up" id="sign-up">
    <div class="container">
        <div class="sign-up-inner">
            <div class="sign-up-form-wrapper">
                <h2 class="sign-up-title">Sign <span class='sign-up-title-part'>Up</span></h2>
                <p class="sign-up-desc">Please use the form below to contact us. Enter your name, email, and message and
                    we'll get back to you shortly.</p>
                <form action="POST" class="sign-up-form">
                    <div class="sign-input-wrapper">
                        <input type="text" name="name" placeholder="Enter your name" class="sign-form-input"
                            pattern="[A-Za-z]{3}" title="Please enter your name.">
                        <input type="email" name="email" placeholder="Enter your email" class="sign-form-input"
                            pattern="^\\S+@\\S+\\.\\S+$" title="example@mail.com">
                        <textarea class="sign-form-input sign-up-textarea" placeholder="Message"></textarea>
                    </div>
                    <button class="sign-up-btn" type="submit">Send</button>
                    <p class="policies">By clicking on "Send" button, you agree to our <a href="#"
                            class="policies-link">Privacy Policy,</a><br> and allow Promodo to use this information for
                        marketing purposes.</p>
                </form>
            </div>
            <div class="sign-up-img-wrapper">
                <div class="sign-img-lens">
                    <img srcset="../img/sign-up/sign-up-lens.png 1x, ../img/sign-up/sign-up-lens-200.png 2x"
                        src="../img/sign-up/sign-up-lens.png" alt="the camera lens on the beige background" 
                        class="lens-img">
                </div>
                <div class="sign-img-camera">
                    <img srcset="../img/sign-up/sign-up-camera.png 1x, ../img/sign-up/sign-up-camera-200.png 2x"
                        src="../img/sign-up/sign-up-camera.png" alt="the camera on the black background" width="240">
                </div>
            </div>
        </div>
    </div>
</section>