<section class="hero">

    <div class="container header-container">
        <h1 class="hero-title">Discover the magic of <span class="hero-h1-italic">photography</span> in our school</h1>
        <p class="hero-text">
            Our photography school offers an unforgettable journey, where you can learn the basics of composition,
            master
            technical
            skills, translate your unique ideas.
        </p>

        <div class="hero-students-reviews-wrap">
            <div class="hero-students">
                <ul class="hero-students-list">
                    <li class="hero-students-item">
                        <a href="">
                            <img srcset="
                            /img/hero/hero-img1-x1-min.png
                            /img/hero/hero-img1-x2-min.png
                            " src="/img/hero/hero-img1-x1-min.png" alt="girl 3/4 view" width="44" height="44">
                        </a>
                    </li>
                    <li class="hero-students-item">
                        <a href="">
                            <img srcset="
                            /img/hero/hero-img2-x1-min.png
                            /img/hero/hero-img2-x2-min.png
                            " src="/img/hero/hero-img2-x1-min.png" alt="boy front view" width="44" height="44">
                        </a>
                    </li>
                    <li class="hero-students-item">
                        <a href="">
                            <img srcset="
                            /img/hero/hero-img3-x1-min.png
                            /img/hero/hero-img3-x2-min.png
                            " src="/img/hero/hero-img3-x1-min.png" alt="girl front view" width="44" height="44">
                        </a>
                    </li>
                </ul>
                <div class="hero-students-text-arrow">
                    <p class="hero-students-text">Our happy students</p>
                    <svg class="hero-students-arrow" width="18" height="10">
                        <use href="/img/sprite.svg#side-arr-icon"></use>
                    </svg>
                </div>
            </div>

            <div class="hero-reviews">
                <div class="hero-reviews-item">
                    <svg class="hero-reviews-icon" width="20" height="20">
                        <use href="/img/sprite.svg#hero-star-icon"></use>
                    </svg>
                </div>
                <div class="hero-reviews-text">
                    <p class="hero-reviews-subtitle">Reviews</p>
                    <p class="hero-reviews-number">+1500</p>
                </div>
            </div>
        </div>

        <img srcset="
        /img/hero/hero-main_img-1x-min.png
        /img/hero/hero-main_img-2x-min.png
        " src="/img/hero/hero-main_img-1x-min.png" alt="a red-haired guy with a camera" width="259" height="314">

    </div>

</section>