<section class="mentors" id="mentors">
    <div class="container mentors-container">
        <h2 class="mentors-title">
            Our <span class="mentors-title-span">Mentors</span>
        </h2>
        <ul class="mentors-list">
            <li class="mentors-item">
                <picture>
                    <source srcset="/img/mentors/girl1-x1-desk-min.webp x1 desk-min.webp 1x, /img/mentors/girl1-x2-desk-min.webp 2x"
                        media="(min-width: 1280px)">
                    <source srcset="/img/mentors/girl1-x1-tab-min.webp x1 tab-min.webp 1x, /img/mentors/girl1-x2-tab-min.webp 2x"
                        media="(min-width: 768px)">
                    <source srcset="/img/mentors/girl1-x1-mob-min.webp 1x, /img/mentors/girl1-x2-mob-min.webp 2x"
                        media="(max-width: 767px)">
                    <img src="/img/mentors/girl1-x1-mob-min.webp" alt="foto mentors" class="mentors-img" width="180" height="180">
                </picture>
                <h3 class="mentors-list-title">Emilia Smith</h3>
                <p class="mentors-text">1.5 years of experience</p>
            </li>
            <li class="mentors-item">
                <picture>
                    <source srcset="/img/mentors/boy1-x1-desk-min.webp 1x, /img/mentors/boy1-x2-desk-min.webp 2x"
                        media="(min-width: 1280px)">
                    <source srcset="/img/mentors/boy1-x1-tab-min.webp 1x, /img/mentors/boy1-x2-tab-min.webp 2x"
                        media="(min-width: 768px)">
                    <source srcset="/img/mentors/boy1-x1-mob-min.webp 1x, /img/mentors/boy1-x2-mob-min.webp 2x"
                        media="(max-width: 767px)">
                    <img src="/img/mentors/boy1-x1-mob-min.webp" alt="foto mentors" class="mentors-img" width="180" height="180">
                </picture>
                <h3 class="mentors-list-title">Alex Lebedev</h3>
                <p class="mentors-text">3.5 years of experience</p>
            </li>
            <li class="mentors-item">
                <picture>
                    <source srcset="/img/mentors/girl2-x1-desk-min.webp 1x, /img/mentors/girl2-x2-desk-min.webp 2x"
                        media="(min-width: 1280px)">
                    <source srcset="/img/mentors/girl2-x1-tab-min.webp 1x, /img/mentors/girl2-x2-tab-min.webp 2x"
                        media="(min-width: 768px)">
                    <source srcset="/img/mentors/girl2-x1-mob-min.webp 1x, /img/mentors/girl2-x2-mob-min.webp 2x"
                        media="(max-width: 767px)">
                    <img src="/img/mentors/girl2-x1-mob-min.webp" alt="foto mentors" class="mentors-img" width="180" height="180">
                </picture>
                <h3 class="mentors-list-title">Mia Dubrovska</h3>
                <p class="mentors-text">2.0 years of experience</p>
            </li>
            <li class="mentors-item">
                <picture>
                    <source srcset="/img/mentors/boy2-x1-desk-min.webp 1x, /img/mentors/boy2-x2-desk-min.webp 2x"
                        media="(min-width: 1280px)">
                    <source srcset="/img/mentors/boy2-x1-tab-min.webp 1x, /img/mentors/boy2-x2-tab-min.webp 2x"
                        media="(min-width: 768px)">
                    <source srcset="/img/mentors/boy2-x1-mob-min.webp 1x, /img/mentors/boy2-x2-mob-min.webp 2x"
                        media="(max-width: 767px)">
                    <img src="/img/mentors/boy2-x1-mob-min.webp" alt="foto mentors" class="mentors-img" width="180" height="180">
                </picture>
                <h3 class="mentors-list-title">Eliot Kovalev</h3>
                <p class="mentors-text">4.0 years of experience</p>
            </li>
        </ul>
    </div>
</section>