<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-item">
                <h3 class="reviews-name">Abraham Baker</h3>
                <p class="reviews-student">Student</p>
                <p class="reviews-text">I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and
                experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and
                discover my own style.</p>
            </li>
            <li class="reviews-item second-rv">
                <h3 class="reviews-name">Amanda Lowery</h3>
                <p class="reviews-student">Student</p>
                <p class="reviews-text">The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also
                inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand
                different styles of photography.</p>
            </li>
        </ul>
    </div>
</section>