.about {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.about-div-all {
    padding: 20px, 0;
}

.about-title {
    margin-bottom: 40px;
    color: var(--main-text);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}

.about-title-span {
    color: var(--accent-text);
}

.about-div-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
    border-radius: 1000px;
    overflow: hidden;

}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFF;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.about-text-one {
    max-width: 335px;
}

.about-text-two {
    max-width: 335px;
}

@media screen and (min-width: 375px) {
    .about-image {
        width: 335px;
        height: 209px;
    }
}

/*about us tablet*/
@media screen and (min-width: 768px) {
    .about {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .about-title {
        margin-bottom: 50px;
        font-size: 48px;
        line-height: 1.12;
        letter-spacing: -0.04em;
    }

    .about-text {
        gap: 40px;
        display: flex;
        flex-direction: row;
        color: #FFF;
        font-size: 16px;
        line-height: 1.28;
        letter-spacing: -0.02em;
    }

    .about-div-image {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .about-image {
        width: 704px;
        height: 340px;
    }

    .about-text-one {
        max-width: 280px;
    }

    .about-text-two {
        max-width: 280px;
    }

}

/*about us laptop*/

@media screen and (min-width: 1280px) {
    .about {
        max-width: 1270px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .about-div {
        display: flex;
        gap: 50px;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .about-title {
    font-size: 48px;
    line-height: 1.125;
    letter-spacing: -0.08em;
    }

    .about-div-image {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .about-image {
        width: 560px;
        height: 240px;
    }

    .about-text {
        display: flex;
        flex-direction: row;
        gap: 40px;
        color: #FFF;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }

    .about-text-one {
        max-width: 314px;
    }

    .about-text-two {
        max-width: 276px;
    }

}

@media screen and (min-width: 1440px) {
    .about{
        max-width: 1440px;
    }
}
