.advert-conteiner {
    overflow: hidden;
    text-transform: uppercase;
    text-transform: uppercase;
    border-top: 1px solid var(--main-border);
    border-bottom: 1px solid var(--main-border);
}

.advert-conteiner-inner{
    display: flex;
}

.advert-title {
    color: var(--accent-bkgd);
    flex-shrink: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    min-width: 100%;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: -0.02em;
    white-space: nowrap;
    animation-name: adverttitle;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.advert-text {
color: var(--main-text);
}

@keyframes adverttitle {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


@media screen and (min-width: 768px) {
    .advert-title {
    font-size: 40px;
    line-height: 1.25;
    padding-top: 24px;
    padding-bottom: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .advert-title {
        font-size: 59px;
        line-height: 1.08;
    }

}