:root {
    /* Fonts */
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
    /* Font's colors */
    --main-text: #FFFFFF;
    --accent-text: #BEA69E;
    --button-text: #121212;
    --privacy-text: rgba(255, 255, 255, 0.50);
  
    /* Background's colors */
    --main-bkgd: #121212;
    --second-bkgd: #1D1D1D;
    --accent-bkgd: #BEA69E;
    --camera-fill: #BEA69E66;
    --button-bkgd: #FFFFFF;
    --backdrop-bkgd: rgba(18, 18, 18, 0.40);
  
    /* Border's colors */
    --main-border: rgba(255, 255, 255, 0.20);
    --focus-border: rgba(255, 255, 255, 0.50);
    --bkgd-border: rgba(255, 255, 255, 0.70);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--main-text);
    background-color: var(--main-bkgd);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

section {
    padding: 0 0 80px 0;
}

@media screen and (min-width: 768px) {
    section {
        padding: 0 0 100px 0;
    }
}

@media screen and (min-width: 1280px) {
    section {
        padding: 0 0 150px 0;
    }
}