p {
  margin: 0;
}

.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.courses-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  /* width: 335px; */
}

.courses-title {
  color: var(--main-text);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

.courses-title span {
  color: var(--accent-text);
}

.courses-description {
  color: var(--main-text);
  line-height: 1.29;
  letter-spacing: -0.02em;
  /* max-width: 335px; */
}

.courses-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.courses-card {
  position: relative;
  /* max-width: 335px; */
  /* height: 398px; */
  flex-shrink: 0;
  padding: 88px 28px 28px 28px;
  border-radius: 12px;
  border: 1px solid var(--main-border);
  background: linear-gradient(180deg, #060707 0%, var(--second-bkgd) 100%);
}

.courses-card-number {
  position: absolute;
  top: 28px;
  left: 28px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.courses-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 28px;
  right: 28px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--second-bkgd);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  cursor: pointer;
}

.courses-icon-svg {
  stroke: #777777;
}

.courses-icon-container:hover .courses-icon-svg {
  stroke: var(--main-text);
}

.courses-icon-container:focus .courses-icon-svg {
  stroke: var(--main-text);
}

.courses-icon-container:hover {
  background-color: var(--accent-bkgd);
}

.courses-icon-container:focus {
  background-color: var(--accent-bkgd);
}

.courses-card-title {
  margin-bottom: 164px;
  color: var(--main-text);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
}

.courses-card-description {
  /* max-width: 279px; */
  /* height: 54px; */
  color: var(--focus-border);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .courses-text-wrapper {
    flex-direction: row;
    gap: 58px;
    margin-bottom: 50px;
    width: 704px;
  }

  .courses-title {
    font-size: 48px;
    line-height: 1.13;
    letter-spacing: -0.04em;
    width: 265px;
  }

  .courses-description {
    font-size: 16px;
    line-height: 1.25;
    width: 381px;
  }

  .courses-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    gap: 20px;
  }

  .courses-card {
    width: 342px;
    height: 452px;
  }

  .courses-card-description {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .courses-text-wrapper {
    gap: 410px;
    margin-bottom: 50px;
    width: 1080px;
  }

  .courses-description {
    font-size: 16px;
    line-height: 1.25;
    width: 405px;
  }

  .courses-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    gap: 20px;
  }

  .courses-card {
    width: 347px;
  }
}

@media screen and (min-width: 1440px) {
  .courses-text-wrapper {
    gap: 410px;
    margin-bottom: 50px;
    width: 1240px;
  }

  .courses-description {
    font-size: 16px;
    line-height: 1.25;
    width: 565px;
  }

  .courses-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    gap: 20px;
  }

  .courses-card {
    width: 400px;
  }
}
