.footer {
  border-top: 1px solid var(--main-border);
  background-image: url(/img/footer/footer-mob.svg);
  background-position: center;
}
.footer-container {
  padding-top: 40px;
  padding-bottom: 20px;
}
.footer-main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}
.footer-contacts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-logo {
  width: 127px;
  height: 20px;
}
.footer-logo-icon {
  fill: var(--main-text);
}
.footer-contacts-list {
}
.footer-contacts-item {
}
.footer-contacts-link {
  line-height: 1.28;
  letter-spacing: normal;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-text);
}
.footer-contacts-text {
  line-height: 1.28;
  letter-spacing: normal;
}
.footer-links-container {
  display: flex;
  gap: 40px;
  margin-bottom: 35px;
}
.footer-social-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-social-item {
}
.footer-social-link {
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--accent-text);
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-menu-item {
}
.footer-menu-link {
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-text);
}
.footer-subscribe-form {
  display: flex;
  gap: 8px;
}
.footer-subscribe-label {
  display: flex;
  width: 100%;
  max-width: 267px;
}
.footer-subscribe-email-input {
  height: 60px;
  width: 100%;
  display: flex;
  border-radius: 12px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  color: var(--button-text);
  font-size: 16px;
  line-height: 1.25;
  outline: none;
  letter-spacing: normal;
}
.footer-subscribe-btn {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12px;
  border: none;
  background: var(--second-bkgd);
  color: inherit;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  color: var(--accent-text);
}
.footer-policy-rights-container {
  display: flex;
  justify-content: space-between;
}
.policy-agreement-wrap {
  display: flex;
  flex-direction: column;
}
.footer-policy-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-policy-link:hover,
.footer-policy-link:focus {
  color: var(--accent-text);
}
.footer-rights {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(/img/footer/footer-tab.svg);
  }
  .footer-container {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .footer-main-content {
    flex-direction: row;
    gap: 58px;
    margin-bottom: 74px;
  }
  .footer-contacts-container {
    gap: 25px;
  }
  .footer-logo {
    width: 123px;
    height: 16px;
  }
  .footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-links-container {
    gap: 25px;
    margin-right: 1px;
  }
  .footer-subscribe-label {
    width: 178px;
  }
  .footer-policy-link {
    font-size: 14px;
    line-height: 1.28;
  }
  .footer-rights {
    font-size: 14px;
    line-height: 1.28;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background-image: url(/img/footer/footer-d1.svg);
  }
  .footer-main-content {
    gap: 135px;
    margin-bottom: 50px;
  }
  .footer-links-container {
    gap: 50px;
    margin-right: 0;
    margin-left: 150px;
  }
  .footer-social-list {
    gap: 20px;
  }
  .footer-menu-list {
    gap: 20px;
  }
  .footer-subscribe-form {
    gap: 16px;
  }
  .footer-subscribe-label {
    width: 216px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    background-image: url(/img/footer/footer-d2.svg);
  }
  .footer-main-content {
    gap: 191px;
  }
  .footer-links-container {
    gap: 100px;
    margin-left: 150px;
  }
}
