.sign-up-title {
  color: var(--main-text);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.sign-up-title-part {
  color: var(--accent-text);
}

.sign-up-desc {
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  max-width: 295px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.sign-input-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.sign-form-input:not(:last-child) {
  margin-bottom: 8px;
}

.policies {
  color: var(--privacy-text);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
}

.policies-link {
  text-decoration: underline;
  color: var(--privacy-text);
}

.sign-form-input {
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--main-border);
  background-color: transparent;
  padding: 14px 18px;
  color: var(--main-text);
  opacity: 0.7;
}

.sign-form-input:focus {
  border-color: var(--focus-border);
  outline: none;
}

.sign-up-btn {
  width: 100%;
  display: flex;
  padding: 14px 127px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--button-bkgd);
  border: none;
  margin-bottom: 20px;
  color: var(--button-text);
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.sign-up-btn:hover {
  background-color: var(--second-bkgd);
  color: var(--accent-text);
  transition: all 400ms ease;
}

.sign-up-textarea {
  height: 112px;
  resize: none;
}

.sign-up-img-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .sign-up-form-wrapper {
    max-width: 480px;
  }

  .sign-up-title {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -0.019em;
  }

  .sign-up-desc {
    font-size: 16px;
    line-height: 1.25;
    max-width: unset;
  }

  .sign-form-input {
    line-height: 1.25;
    font-size: 16px;
    padding: 20px 18px;
  }

  .sign-form-input:not(:last-child) {
    margin-bottom: 14px;
  }

  .sign-up-btn {
    padding: 16px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.55;
  }

  .policies {
    font-size: 16px;
  }

  .sign-up-textarea {
    height: 119px;
    resize: none;
  }
}

@media screen and (min-width: 1280px) {
  .sign-up-inner {
    display: flex;
    justify-content: space-between;
  }

  .sign-up-desc {
    line-height: 1.25;
  }

  .policies {
    font-size: 14px;
  }

  .sign-up-img-wrapper {
    display: flex;
    gap: 20px;
    padding-bottom: 38px;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .camera-img {
    width: 350px;
  }

  .lens-img {
    width: 190px;
  }
}
