.header {
    position: relative;
}

.header .container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0) scale(1);
}

.header-nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bkgd);
}

.header-logo-wrap {
    width: 127px;
    height: 20px;
}

.header-logo {
    fill: var(--main-text);
}

.header-nav {
    display: none;
}

.btn-wrap {
    display: flex;
    align-items: center;
}

.header-camera {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--second-bkgd);
    margin-right: 14px;
}

.header-camera-icon {
    fill: var(--camera-fill);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-camera-icon:hover,
.header-camera-icon:focus {
    fill: var(--accent-bkgd);
}

.menu-btn {
    border: none;
    background-color: transparent;
    width: 32px;
    height: 22px;
}

.menu-btn-icon {
    stroke: var(--button-bkgd);
}

.header-su-btn {
    display: none;
}
/********* Mobile-menu **********/
.mob-menu {
    position: fixed;
    z-index: 1;    
    top: 0;
    right: 0;
    width: 218px;
    height: 812px;
    background-color: #BEA69E;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    pointer-events: none;
}
.mob-menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 128px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mob-close {
    width: 32px;
    height: 32px;
    stroke: var(--main-bkgd);
}

.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.mob-nav-list-link {
    color: #121212;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-list-link:hover,
.mob-nav-list-link:focus {
    font-weight: 700;
}
.mob-menu-picture {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 768px) {
    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }

    .header-nav-wrap {
        width: 100%;
        height: 60px;
        padding: 16px 20px;
        justify-content: space-between;
    }

    .header-camera {
        display: none;
    }

    .menu-btn {
        width: 40px;
        height: 28px;
    }

    .header-su-btn {
        display: block;
        padding: 16px 58px;
        height: 60px;
        background-color: var(--button-bkgd);
        border-radius: 12px;
        color: var(--button-text);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.56;
        text-transform: uppercase;
        white-space: nowrap;
        margin-left: 14px;
        cursor: pointer;

        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-su-btn:hover,
    .header-su-btn:focus {
        background-color: var(--second-bkgd);
        color: var(--accent-text);  
    }
    /********* Mobile-menu **********/
    .mob-menu {
        width: 480px;
        height: 1024px;
        padding: 20px 32px 0px 64px;
    }
    .mob-nav-list {
        gap: 28px;
    }
}


@media screen and (min-width: 1280px) {
    .header-nav-wrap {
        height: 60px;
        padding: 21px 50px;
    }

    .header-nav {
        display: block;
        margin-left: auto;
    }
    
    .nav-list {
        display: flex;
        gap: 28px;
    }

    .nav-list-link {
        font-size: 14px;
        line-height: normal;
        text-transform: uppercase;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-list-link:hover,
    .nav-list-link:focus {
        color: var(--accent-text);
    }

    .menu-btn {
        display: none;
    }

    .header-su-btn {
        padding: 16px 84px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .nav-list {
        gap: 40px;
    }
}
/********* Mobile-menu **********/